<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ucai.fulishe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".application.FuLiCenterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/fulicenter"
        android:supportsRtl="true"
        android:exported="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.Boutique_ChildActivity" />
        <activity android:name=".ui.activity.GoodsDetailActivity" />
        <activity android:name=".ui.activity.Category_ChildActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.UpDataNickActivity" />
        <activity android:name=".ui.activity.UpdataAvatorActivity" />
        <activity android:name=".ui.activity.ClipImageActivity"></activity>
    </application>

</manifest>